.btn-menu-toile {
  font-family: var(--typo-titre);
  font-size: var(--typo-size-l);
  font-style: normal;
  font-weight: 600;
  color: var(--color-black);
  background-color: var(--color-trois);
  border-radius: var(--radius-100);
  flex-wrap: nowrap;
  padding: var(--padding-l);
  max-width: max-content;
  margin: auto;
}

.cl-font {
  color: var(--color-principal);
}

.menu-toile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: var(--gap-m);
  margin-top: 10px;
}

.hidden {
  display: block;
  margin-top: -20px;
}

@media screen and (min-width: 1024px) {
  .menu-toile {
    flex-direction: row;
    margin-top: 60px;
  }

  .hidden {
    margin-top: 5px;
  }
}

.peinture {
  width: 75%;
  height: 75%;
  display: flex;
  margin: auto;
  margin-top: 30px;
}

@media screen and (min-width: 720px) {
  .toute-peinture {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    align-items: center;
  }

  .peinture {
    width: 27%;
    max-width: 600px;
    height: 27%;
    margin: var(--margin-l);
  }
}

.retour {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: var(--color-trois);
}
